[include]
    path = .gitconfig.private

[include]
    path = .gitconfig.local

[core]
    autocrlf = false
    safecrlf = true
    gitproxy = none

[alias]
    st = status
    sta = status -uall
    cm = commit 
    cmm = commit -m
    psh = push origin HEAD
    plh = pull origin HEAD
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"

